@import "tailwindcss";

 
body {
  background: linear-gradient(to right, #1f4037, #99f2c8);;
}
/* Editor content styling */
.prose h1 {
  @apply text-3xl font-bold text-gray-900 mb-4;
}
.prose h2 {
  @apply text-2xl font-semibold text-gray-800 mb-3;
}
.prose h3 {
  @apply text-xl font-medium text-gray-700 mb-2;
}
.prose p {
  @apply text-base text-gray-700 leading-relaxed mb-2;
}
.prose blockquote {
  @apply border-l-4 border-blue-500 pl-4 italic text-gray-600 bg-blue-50 rounded-md my-3;
}
.prose ul {
  @apply list-disc pl-6 mb-2;
}
.prose ol {
  @apply list-decimal pl-6 mb-2;
}
.prose li {
  @apply mb-1;
}
.prose code {
  @apply bg-gray-100 px-1 py-0.5 rounded text-pink-600 font-mono text-sm;
}
.prose pre {
  @apply bg-gray-900 text-gray-100 p-3 rounded-lg overflow-x-auto;
}
.prose img {
  @apply max-w-full rounded-lg shadow;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
